
.brand-logo
{
	background-color:#708090;
}
.metismenu
{
	background-color:#708090;
}
menu
{
	background-color:#708090;
}
.lbl{
	padding: 5px 20px 5px 20px;
	border-radius: 5px;
}
#display
{
	display: block;
	width: 80px;
	margin: 5px ;
	border-radius: 5%;
	border: 1px solid black;
}
.img,#imgcat,#displaystaff,#displaycus,#displaypro,#displaysub
{
	display: block;
	width: 80px;
	margin: 5px ;
	border-radius: 5%;
	border: 1px solid black;
}
.form
{
	background-color: #dcdde1;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px ; 
}

.item{
	float: left;
	background: #ffffff;
	padding: 5px;
	margin: 10px 0px 0px 0px;
	border-radius: 5px;
	border: #E0E0E0 1px solid;
}
.name,.qty{
	border-radius: 5px ;
	margin-bottom: 5px;

}
.aa{
	margin-left: 20px;
}
.header-title{
	font-family: Khmer Unicode F1;
	color: #2197AA;
	
}
.body-title{
	font-family: Khmer Os Battambang ;
	color: #2197AA;
	
}
.btn-add{
	margin : 0px !important;
}
.selectfind {
    background-color: #2197AA !important;
    color: white !important;
}
.text{
	font-size: 13px;
	font-family: Khmer Os Battambang;
}
.headertable {
	font-size: 15px;
	font-family: Khmer Os Battambang;
}
.btn{
	font-family: Khmer Os Battambang;
}
.headertitle {
	font-family: Khmer Os Battambang;
}